name: Delete merged branches

on:
  pull_request:
    types:
      - closed

jobs:
  delete-branch:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Delete source branch if not main or dev
        uses: peter-evans/delete-branch@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.event.pull_request.head.ref }}
        if: |
          github.event.pull_request.head.ref != 'main' &&
          github.event.pull_request.head.ref != 'dev'
